createdAt: "2020-01-04T20:26:52.867Z"
updatedAt: "2020-01-04T20:28:05.221Z"
type: "MARKDOWN_NOTE"
folder: "664ddec8ff9fd71c6998"
title: " hello world "
tags: []
content: '''
  <h1> hello world </h1>
  <p> this
  
'''
linesHighlighted: []
isStarred: false
isTrashed: true
