createdAt: "2020-07-26T01:41:14.420Z"
updatedAt: "2020-07-26T01:41:18.587Z"
type: "MARKDOWN_NOTE"
folder: "664ddec8ff9fd71c6998"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
