createdAt: "2020-04-27T16:35:10.950Z"
updatedAt: "2020-04-27T16:35:23.987Z"
type: "SNIPPET_NOTE"
folder: "664ddec8ff9fd71c6998"
title: ""
tags: []
description: ""
snippets: [
  {
    linesHighlighted: []
    name: ""
    content: ""
  }
]
isStarred: false
isTrashed: true
