createdAt: "2019-04-30T23:35:16.000Z"
updatedAt: "2019-10-14T15:35:51.138Z"
content: ""
folder: "664ddec8ff9fd71c6998"
title: ""
type: "MARKDOWN_NOTE"
tags: []
isStarred: false
isTrashed: true
linesHighlighted: []
