createdAt: "2019-11-29T20:22:01.716Z"
updatedAt: "2019-11-29T21:39:05.879Z"
type: "SNIPPET_NOTE"
folder: "664ddec8ff9fd71c6998"
title: "VBA: Reference the active cell"
tags: [
  "vba"
  "application_properties"
  "active_cell"
]
description: "VBA: Reference the active cell"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "VBScript"
    content: '''
      'Note: 
      ' A "selection" can contain many cells, but an "ActiveCell" is only ONE cell.
      'There are 4 ways to reference the active cell:'
      ActiveCell
      ActiveWindow.ActiveCell
      Application.ActiveWindow.ActiveCell
      Application.ActiveCell
      
      
    '''
  }
]
isStarred: false
isTrashed: false
