createdAt: "2019-10-20T17:16:25.770Z"
updatedAt: "2019-10-20T17:16:41.440Z"
type: "SNIPPET_NOTE"
folder: "664ddec8ff9fd71c6998"
title: "C++: Reference vs Pointer"
tags: []
description: "C++: Reference vs Pointer"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "Python"
    content: ""
  }
]
isStarred: false
isTrashed: false
