createdAt: "2020-02-21T15:50:48.807Z"
updatedAt: "2020-02-27T04:49:45.122Z"
type: "SNIPPET_NOTE"
folder: "664ddec8ff9fd71c6998"
title: "VBA: check if null"
tags: [
  "vba"
  "check"
  "null"
]
description: "VBA: check if null"
snippets: [
  {
    linesHighlighted: []
    name: ""
    content: '''
      'Check if the variable is null'
      
      IsNull(x)
    '''
    mode: "VB.NET"
  }
]
isStarred: false
isTrashed: false
