createdAt: "2020-04-27T16:35:25.405Z"
updatedAt: "2020-04-27T16:36:35.069Z"
type: "MARKDOWN_NOTE"
folder: "664ddec8ff9fd71c6998"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
