createdAt: "2020-02-18T03:16:53.987Z"
updatedAt: "2020-02-18T03:23:01.143Z"
type: "SNIPPET_NOTE"
folder: "664ddec8ff9fd71c6998"
title: "JAVA: Serialize"
tags: [
  "java"
  "write"
]
description: "JAVA: Serialize"
snippets: [
  {
    linesHighlighted: []
    name: ""
    content: '''
      import java.io.Serializable;
      
      class Student implements Serializable {
        // There is no implementation methods for Serializable interface
      }
    '''
    mode: "Java"
  }
]
isStarred: false
isTrashed: false
