createdAt: "2020-05-25T19:12:06.430Z"
updatedAt: "2020-05-25T21:58:51.394Z"
type: "SNIPPET_NOTE"
folder: "664ddec8ff9fd71c6998"
title: "VBA: Add a Worksheet"
tags: [
  "vba"
  "add"
  "sheet"
]
description: "VBA: Add a Worksheet"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "VBScript"
    content: '''
      'add a new sheet to the left of the currently active sheet
      Sheets.Add 
      
      'add a sheet at different location
      Sheets.Add
    '''
  }
]
isStarred: false
isTrashed: false
