createdAt: "2020-05-25T19:12:06.430Z"
updatedAt: "2020-05-29T12:50:30.911Z"
type: "SNIPPET_NOTE"
folder: "664ddec8ff9fd71c6998"
title: "VBA: Add a Worksheet"
tags: [
  "vba"
  "add"
  "sheet"
]
description: "VBA: Add a Worksheet"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "VB.NET"
    content: '''
      'add a new sheet to the left of the currently active sheet
      Sheets.Add 
      'or
      WorkSheets.Add
      
      'add a sheet at different location
      Sheets.Add(Before := ActiveWorkBook.WorkSheets("Sheet Name"), After := ActiveWorkBook.WorkSheets("SheetName"))
    '''
  }
]
isStarred: false
isTrashed: false
