createdAt: "2019-05-07T00:25:50.000Z"
updatedAt: "2020-01-04T20:11:14.174Z"
content: ""
folder: "664ddec8ff9fd71c6998"
title: ""
type: "MARKDOWN_NOTE"
tags: []
isStarred: false
isTrashed: true
linesHighlighted: []
