createdAt: "2019-02-22T04:10:32.000Z"
updatedAt: "2020-03-05T22:56:53.549Z"
content: '''
  PYTHON numpy: linspace() -> create an array
  
  numpy.linspace(
  				start, stop, num=50, 
  				endpoint=True, 
  				retstep=False, 
  				dtype=None, 
  				axis=0
  			)
'''
folder: "664ddec8ff9fd71c6998"
title: "PYTHON numpy linspace() - create an arra"
type: "MARKDOWN_NOTE"
tags: []
isStarred: false
isTrashed: true
linesHighlighted: []
