createdAt: "2019-08-18T03:53:20.000Z"
updatedAt: "2019-11-16T14:56:40.236Z"
content: '''
  JAVAFX: add action-listeners
  
  b = new Button("Click me")
  b.addActionListener(new ActionListener() {
  	public void actionPerformed( ActionEvent e ) {
  		# write the performed action here
  	}
  })
  
  here we anounymously define an ActionListener object (let's temperally call it ActionListener "listener"), then we register it with Button "b" by passing it as a parameter to the method "addActionListener()" of class Button.
  
  Once "b" has "listener", if "b" is clicked, the code 
  
  listerner.actionPerformed(ActionEvent e)
  
  inside "b" will be run. Note that ActionEvent "e" is given by "b".
  
'''
folder: "664ddec8ff9fd71c6998"
title: "JAVAFX add action-listeners"
type: "MARKDOWN_NOTE"
tags: []
isStarred: false
isTrashed: true
linesHighlighted: []
