createdAt: "2019-11-29T20:21:48.550Z"
updatedAt: "2019-11-29T20:21:59.216Z"
type: "MARKDOWN_NOTE"
folder: "664ddec8ff9fd71c6998"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
