createdAt: "2019-10-14T16:26:22.061Z"
updatedAt: "2020-03-21T15:38:04.654Z"
type: "SNIPPET_NOTE"
folder: "664ddec8ff9fd71c6998"
title: "Cpp: Pause After Running"
tags: [
  "cpp"
  "pause"
]
description: "Cpp: Pause After Running"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "Python"
    content: '''
      int main()
      {
        // Code here
        
        system("PAUSE"); // prevent cmd window from exiting after executing all the code.
        return 0;
      }
    '''
  }
]
isStarred: false
isTrashed: false
