createdAt: "2019-04-30T23:39:06.000Z"
updatedAt: "2021-03-10T18:03:06.546Z"
content: '''
  PYTHON: for loop	
  
  for i in range(count):
  	# code here
  
  # 'i' = 0 -- (count - 1)
  
'''
folder: "664ddec8ff9fd71c6998"
title: "code here"
type: "MARKDOWN_NOTE"
tags: []
isStarred: false
isTrashed: true
linesHighlighted: []
