createdAt: "2019-04-30T23:39:06.000Z"
updatedAt: "2019-09-30T22:30:28.713Z"
content: '''
  PYTHON: for loop	
  
  for i in range(count)
  	# code here
  
  # 'i' = 0 -- (count - 1)
  
'''
folder: "664ddec8ff9fd71c6998"
title: "PYTHON for loop"
type: "MARKDOWN_NOTE"
tags: []
isStarred: false
isTrashed: false
linesHighlighted: []
