createdAt: "2019-02-24T08:37:08.000Z"
updatedAt: "2019-09-30T22:30:28.413Z"
content: '''
  PANDAS write/read csv
  
  dataframe = pd.read_csv('sales_training_data.csv')
  
'''
folder: "664ddec8ff9fd71c6998"
title: "PANDAS writeread csv"
type: "MARKDOWN_NOTE"
tags: []
isStarred: false
isTrashed: false
linesHighlighted: []
