createdAt: "2020-03-30T02:24:28.358Z"
updatedAt: "2020-09-20T01:04:20.851Z"
type: "SNIPPET_NOTE"
folder: "664ddec8ff9fd71c6998"
title: "MATLAB: Import File with Delimeter"
tags: [
  "matlab"
  "import"
  "file"
  "delimeter"
  "csv"
]
description: "MATLAB: Import File with Delimeter"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "Octave"
    content: '''
      A = importdata('Filename.txt', delimeter)
      
      % common delimeter:
      % '\\t'  : tab
      % ','   : comma
      % '.'   : period
      % ' '   : white space'
      
      % A is the struct of 3 fields:
      % A.data : a matrix
      % A.textdata : cell of string
      % colheaders: cell array of column header
    '''
  }
]
isStarred: false
isTrashed: false
