createdAt: "2019-02-10T04:21:34.000Z"
updatedAt: "2019-09-30T22:30:27.133Z"
content: '''
  MATLAB array mathetical operation
  
  cross(a, b)
  inv(A)
  dot(a, b)
  det(A)
  std(A)
'''
folder: "664ddec8ff9fd71c6998"
title: "MATLAB array mathetical operation"
type: "MARKDOWN_NOTE"
tags: []
isStarred: false
isTrashed: false
linesHighlighted: []
