createdAt: "2020-02-25T05:55:28.337Z"
updatedAt: "2020-06-02T12:45:11.919Z"
type: "SNIPPET_NOTE"
folder: "664ddec8ff9fd71c6998"
title: "VBA: Reference/Assign a Variable to An Object Using 'Set'"
tags: [
  "vba"
  "object"
  "reference"
  "set"
  "variable"
  "assign"
]
description: "VBA: Reference/Assign a Variable to An Object Using 'Set'"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "VBScript"
    content: '''
      'To reference/assign to an object, use the keyword "Set" '
      
      'Declare variale name and type'
      Dim wks as Worksheet
      
      'Refer the variable to an object type WorkSheet'
      Set wks = ThisWorkBook.WorkSheets("worksheet name here")
    '''
  }
]
isStarred: false
isTrashed: false
