createdAt: "2019-08-28T23:38:30.000Z"
updatedAt: "2019-10-02T17:45:05.815Z"
content: '''
  VBA: Class Range's Properties
  
  \'''javascript
  Dim rangeObj As Range
  Set rangeObj = Range("A1:C4")
  
  rangeObj.Rows(3) 	'return the 3rd row
  rangeObj.Rows()	'return all rows
  rangeObj.Columns(4) 'return the 4th column
  
  rangeObj.count		'return the number of element in the range
  \'''
  
'''
folder: "664ddec8ff9fd71c6998"
title: "VBA: Class Range's Properties"
type: "MARKDOWN_NOTE"
tags: []
isStarred: false
isTrashed: true
linesHighlighted: []
