createdAt: "2020-03-07T22:37:43.470Z"
updatedAt: "2020-03-08T20:59:43.853Z"
type: "SNIPPET_NOTE"
folder: "664ddec8ff9fd71c6998"
title: "VBA: Break Code Line"
tags: [
  "vba"
  "break"
  "code_line"
]
description: "VBA: Break Code Line"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "VB.NET"
    content: '''
      'by using "_"
      
      
      '"My name is Vu."
      MsgBox( _
      		"My" _
      		& " name" _
      		& " is " _
      		& " Vu." _
      		)
      
      
      'a = 16
      a = 8 _
      	+ 2 _
      	+ 6
      
      		
    '''
  }
]
isStarred: false
isTrashed: false
