createdAt: "2020-03-07T22:37:43.470Z"
updatedAt: "2020-03-07T22:38:14.065Z"
type: "SNIPPET_NOTE"
folder: "664ddec8ff9fd71c6998"
title: "VBA: Break Code Line"
tags: [
  "vba"
  "break"
  "code_line"
]
description: "VBA: Break Code Line"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: null
    content: ""
  }
]
isStarred: false
isTrashed: false
