createdAt: "2019-11-22T03:47:50.906Z"
updatedAt: "2020-04-26T13:17:52.649Z"
type: "SNIPPET_NOTE"
folder: "664ddec8ff9fd71c6998"
title: "VBA: assign/write value(s) a range/cell"
tags: [
  "vba"
  "assign"
  "write"
  "range"
  "cell"
]
description: "VBA: assign/write value(s) a range/cell"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "VBScript"
    content: '''
      Range("A1:A2") = 3
      
      'or'
      Range("A1:A2").Value = 3
    '''
  }
]
isStarred: false
isTrashed: false
