createdAt: "2019-08-28T23:21:16.000Z"
updatedAt: "2019-11-16T14:53:39.494Z"
content: '''
  C++: string attributes
  
  string s = "Hello";
  
  // returns the length of the string
  int len = s.length();
  int len = s.size();	
  
  // returns substring of <s> from <start> to <end> index
  string sub = s.substr(int start, int end)		
  
  // returns index of the 1st delimeter
  int ind = s.find(string delimiter)		
'''
folder: "664ddec8ff9fd71c6998"
title: "C++ string attributes"
type: "MARKDOWN_NOTE"
tags: []
isStarred: false
isTrashed: true
linesHighlighted: []
