createdAt: "2020-03-01T21:07:07.413Z"
updatedAt: "2020-03-01T21:08:59.394Z"
type: "SNIPPET_NOTE"
folder: "664ddec8ff9fd71c6998"
title: "PYTHON: Evaluate an Symbolic Expression"
tags: [
  "python"
  "symbolic"
  "evaluate"
  "substitute"
  "function"
  "expression"
]
description: "PYTHON: Evaluate an Symbolic Expression"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "Python"
    content: '''
      #-----------------------------------#
      # evaluating 'func':
      #-----------------------------------#
      
      import sympy as sp
      
      x = sp.symbols('x');
      func = x**2 + 1;
      
      # way 1:
      func.subs(x, -1)
            
      # way 2
      func.evalf(subs = {x : 2});
    '''
  }
]
isStarred: false
isTrashed: false
