createdAt: "2020-02-21T15:47:48.260Z"
updatedAt: "2020-02-27T04:49:38.349Z"
type: "SNIPPET_NOTE"
folder: "664ddec8ff9fd71c6998"
title: "VBA: Boolean Operators"
tags: [
  "vba"
  "condition"
  "boolean"
]
description: "VBA: Boolean Operators"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "VBScript"
    content: '''
      'NOT'
      NOT IsNull(x) 
      
      'AND'
      x > 4 AND x <> 10
      
      'OR'
      x < 5 OR x > 8
      
    '''
  }
]
isStarred: false
isTrashed: true
