createdAt: "2020-04-17T15:07:41.825Z"
updatedAt: "2020-04-17T15:07:53.919Z"
type: "MARKDOWN_NOTE"
folder: "664ddec8ff9fd71c6998"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
