createdAt: "2019-02-24T08:31:32.000Z"
updatedAt: "2019-10-02T18:00:59.881Z"
content: ""
folder: "664ddec8ff9fd71c6998"
title: ""
type: "MARKDOWN_NOTE"
tags: []
isStarred: false
isTrashed: true
linesHighlighted: []
