createdAt: "2020-02-21T23:36:38.849Z"
updatedAt: "2020-02-21T23:37:21.340Z"
type: "SNIPPET_NOTE"
folder: "664ddec8ff9fd71c6998"
title: "VBA: Trim All Space in a String"
tags: [
  "vba"
  "trim"
  "space"
  "string"
]
description: "VBA: Trim All Space in a String"
snippets: [
  {
    linesHighlighted: []
    name: ""
    content: ""
  }
]
isStarred: false
isTrashed: false
