createdAt: "2019-02-10T04:20:08.000Z"
updatedAt: "2019-11-16T14:54:25.217Z"
content: '''
  JAVA construct JFRAME 
  
  ## inside the constructor:
  
  this.setTitle("My First Subclass");
  this.setSize(FRAME_WIDTH, FRAME_HEIGHT);
  this.setLocation(FRAME_X_ORIGIN, FRAME_Y_ORIGIN)
'''
folder: "664ddec8ff9fd71c6998"
title: "JAVA construct JFRAME"
type: "MARKDOWN_NOTE"
tags: []
isStarred: false
isTrashed: true
linesHighlighted: []
