createdAt: "2019-04-14T04:13:58.000Z"
updatedAt: "2019-09-30T22:30:27.241Z"
content: '''
  MATLAB: fplot()
  
  fplot( 'func', limits, 'line specifier')
  
  func: function typed as string
  limits: [xMin, xMax] or [xMin, xMax, yMin, yMax]
  
  ex:
  
  fplot('2*cos(x)', [-10, 10])
  
'''
folder: "664ddec8ff9fd71c6998"
title: "MATLAB fplot()"
type: "MARKDOWN_NOTE"
tags: []
isStarred: false
isTrashed: false
linesHighlighted: []
