createdAt: "2019-04-30T23:36:56.000Z"
updatedAt: "2019-09-30T22:30:28.787Z"
content: '''
  PYTHON MATH: logarithmic
  
  log(x = 14, base  = math.e)
'''
folder: "664ddec8ff9fd71c6998"
title: "PYTHON MATH logarithmic"
type: "MARKDOWN_NOTE"
tags: []
isStarred: false
isTrashed: false
linesHighlighted: []
