createdAt: "2019-11-22T03:14:04.584Z"
updatedAt: "2019-11-22T03:15:37.654Z"
type: "SNIPPET_NOTE"
folder: "664ddec8ff9fd71c6998"
title: ""
tags: []
description: ""
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "VBScript"
    content: '''
      
      
      sub functioname()
      
      end sub
    '''
  }
]
isStarred: false
isTrashed: true
