createdAt: "2019-11-27T19:18:21.254Z"
updatedAt: "2019-11-27T19:20:08.657Z"
type: "SNIPPET_NOTE"
folder: "664ddec8ff9fd71c6998"
title: "MATLAB: position legend"
tags: [
  "matlab"
  "legend"
  "position"
]
description: "MATLAB: position legend"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "Octave"
    content: '''
      legend('line 1', 'line 2', 'location', <location specifier>)
      
      %{ 
      
      'north'=	Inside top of axes
      'south'	= Inside bottom of axes
      'east' = Inside right of axes
      'west' = Inside left of axes
      
      'northeast' =	Inside top-right of axes (default for 2-D axes)
      'northwest' =	Inside top-left of axes
      'southeast' =	Inside bottom-right of axes
      'southwest'	= Inside bottom-left of axes
      
      'northoutside' =	Above the axes
      'southoutside' = Below the axes
      'eastoutside' = To the right of the axes
      'westoutside' =	To the left of the axes
      
      'northeastoutside' =	Outside top-right corner of the axes (default for 3-D axes)
      'northwestoutside' = Outside top-left corner of the axes
      'southeastoutside' = Outside bottom-right corner of the axes
      'southwestoutside' = Outside bottom-left corner of the axes
      
      'best' = Inside axes where least conflict with data in plot
      'bestoutside'	= Outside top-right corner of the axes (when the legend has a vertical orientation) or below the axes (when the legend has a horizontal orientation)
      
      'none' = Determined by Position property. Use the Position property to specify a custom location.
      
      %}
    '''
  }
]
isStarred: false
isTrashed: false
