createdAt: "2019-02-24T08:21:40.000Z"
updatedAt: "2019-09-30T22:30:29.514Z"
content: '''
  PYTHON: package abbreviation
  
  # np =  numpy --> matrix
  # sp = simpy --> symbolic
  # m = math --> math constant and simple function
  # plt = matplotlib.pyplot --> plotting
  # tf = tensorflow --> machine learning
  # cm = cmath --> complex number
'''
folder: "664ddec8ff9fd71c6998"
title: "PYTHON package abbreviation"
type: "MARKDOWN_NOTE"
tags: []
isStarred: false
isTrashed: false
linesHighlighted: []
