createdAt: "2019-10-14T17:05:26.021Z"
updatedAt: "2019-10-20T17:46:52.781Z"
type: "SNIPPET_NOTE"
folder: "664ddec8ff9fd71c6998"
title: "C++: Create an array"
tags: [
  "C++"
  "array"
]
description: "C++: Create an array"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "Python"
    content: '''
      # syntax: arr_name[array_size] = {number1, number2,...}
      arr[4] = {1, 2, 3, 4}
    '''
  }
]
isStarred: false
isTrashed: false
