createdAt: "2019-10-14T17:05:26.021Z"
updatedAt: "2020-03-21T15:39:05.376Z"
type: "SNIPPET_NOTE"
folder: "664ddec8ff9fd71c6998"
title: "Cpp: Create an array"
tags: [
  "array"
  "cpp"
]
description: "Cpp: Create an array"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "Python"
    content: '''
      # syntax: arr_name[array_size] = {number1, number2,...}
      arr[4] = {1, 2, 3, 4}
    '''
  }
]
isStarred: false
isTrashed: false
