createdAt: "2019-02-24T09:01:38.000Z"
updatedAt: "2020-03-05T23:21:32.276Z"
content: '''
  PYTHON math: hypothenus
  
  # given a right triangle with side 'a' and 'b'
  h = math.hypot(a, b)
'''
folder: "664ddec8ff9fd71c6998"
title: "PYTHON math hypothenus"
type: "MARKDOWN_NOTE"
tags: []
isStarred: false
isTrashed: true
linesHighlighted: []
