createdAt: "2019-10-14T00:50:14.671Z"
updatedAt: "2020-03-21T15:40:29.012Z"
type: "SNIPPET_NOTE"
folder: "664ddec8ff9fd71c6998"
title: "Cpp: Import Common Libraries"
tags: [
  "cpp"
  "import"
  "library"
]
description: "Cpp: Import Common Libraries"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "Python"
    content: '''
      #include <string>
      #include <cstring>
      #include <random>
      #include <iostream>
      
    '''
  }
]
isStarred: false
isTrashed: false
