createdAt: "2020-02-21T15:51:59.214Z"
updatedAt: "2020-02-21T16:34:42.463Z"
type: "SNIPPET_NOTE"
folder: "664ddec8ff9fd71c6998"
title: "VBA: Reference the Surrounding Cells of the Active Cell"
tags: [
  "vba"
  "active_cell"
  "offset"
  "reference"
]
description: "VBA: Reference the Surrounding Cells of the Active Cell"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "VBScript"
    content: '''
      ActiveCell.Offset(row, col)
      
      'row = row index. Integer. Starting from 0'
      'col = column index. Integer. Also starting from 0'
      
      'ex: pick the cell in the right of the active cell'
      ActiveCell.Offset(0, 1)
    '''
  }
]
isStarred: false
isTrashed: false
