createdAt: "2020-04-26T13:19:14.950Z"
updatedAt: "2020-04-27T15:59:05.944Z"
type: "SNIPPET_NOTE"
folder: "664ddec8ff9fd71c6998"
title: "VBA: select/reference to a range of cells"
tags: [
  "vba"
  "select"
  "reference"
  "range"
  "cell"
]
description: "VBA: select/reference to a range of cells"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "VBScript"
    content: '''
      '********************************************
      '********************************************
      '99% OF THE TIME YOU CAN PERFORM AN ACTION DIRECTLY WITHOUT USING SELECT
      '********************************************
      '********************************************
      
      'Step 1: activate the worksheet
      ' If you want to select a range in the current active sheet, skip this step. Otherwise, you have to activate the worksheet whose range you want to select'
      Worksheets("2018").Activate 'Activate worsheet "2018"
      
      'Step 2: select a range within worksheet 2018 using <Range()>'
      Range("A3:D4").Select 
        
      'now range A3:D4 is stored in the <Selection> variable. You can use it to operate on the range A3:D4 later'
      Selection.Values = 4
      
      
      
    '''
  }
]
isStarred: false
isTrashed: false
