createdAt: "2019-10-02T17:37:21.809Z"
updatedAt: "2020-02-20T05:35:47.061Z"
type: "SNIPPET_NOTE"
folder: "664ddec8ff9fd71c6998"
title: "VBA: Create a Range Object"
tags: [
  "vba"
  "range"
  "create"
  "range_object"
]
description: "VBA: Create a Range Object"
snippets: [
  {
    linesHighlighted: []
    name: "Properties"
    mode: "VBScript"
    content: '''
      'Declare an Range object'
      Dim rangeObj As Range	
      
      'Assign the range of cell from A1 to C4 to the rangeObj variable'
      Set rangeObj = Range("A1:C4")
      Set rangeObj = Range("A1:A3", "D5:D10")
    '''
  }
  {
    linesHighlighted: []
    name: "Members"
    mode: "VBScript"
    content: '''
      'Declare an Range object'
      Dim rangeObj As Range	
      
      'Assign the range of cell from A1 to C4 to the rangeObj variable'
      Set rangeObj = Range("A1:C4")
      
      rangeObj.Rows(3) 	'return the 3rd row
      
      rangeObj.Rows()		'return all rows'
      
      rangeObj.Columns(4) 'return a specific column'
      
    '''
  }
]
isStarred: false
isTrashed: false
