createdAt: "2019-02-09T03:54:00.000Z"
updatedAt: "2019-10-21T19:21:06.032Z"
content: '''
  
  
'''
folder: "664ddec8ff9fd71c6998"
title: ""
type: "MARKDOWN_NOTE"
tags: []
isStarred: false
isTrashed: true
linesHighlighted: []
