createdAt: "2020-03-07T21:24:36.742Z"
updatedAt: "2020-05-21T18:35:15.750Z"
type: "SNIPPET_NOTE"
folder: "664ddec8ff9fd71c6998"
title: "VBA: Case-statement"
tags: [
  "vba"
  "condition"
  "case"
  "conditional_statement"
]
description: "VBA: Case-statement"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "VB.NET"
    content: '''
      'GENERAL SYNTAX'
      Select Case var
      Case condition_1
      	'executed if condition 1 is matched, then exit the case-statement'
      Case condition_2
      	'executed if condition 2 is matched, then exit the case-statement'
      Case Else
      	'executed if neither of any cases above, then exit the case-statement'
      End Select
      
      
      'var: value to compare
      'condition_1 can be either:
      '	1/ case value
      '	2/ "Is" + boolean operator (i.e, =, <, etc) + case value.
      '       i.e.: Case Is = 6'
      '	3/ num1 To num2 
      
      
      'Note: 
      '	1/ "Is" and boolean-operators (=, <, >, <>, ><, <=, >=) have to go together
      '	2/ Once a matched case is found and executed, the program exits the case-statement 
      '	3/ 
      ' 	case <condition>: 'some code here'
      
      ' 	is the same as
      
      ' 	case <condition>:
      '		'some code here'
      
      ' 	or 
      
      ' 	case <condition>
      '		'some code here'
      
      
      
      '----------------------------------------------------------'
      'NUMBER COMPARISON'
      '----------------------------------------------------------'
      Dim a As Integer
      a = 200
      
      Select Case a
      	
      Case 6
      	MsgBox("If equal to 6")
      	
      Case Is >= 999 							'or can use =, <, >, <>, ><, <=, >='
        MsgBox("If equal or greater than 999")
      	
      Case 700 to 800 MsgBox("If between 700 and 800")
      	
      Case 6, Is = 888, Is < -1, Is > 999, 700 to 800
      	'Either or'
      	
      Case Is < 10		
      	MsgBox("If smaller than 10")
      	'Executed and then Exited the Case-statement here'
      	
      Case Is = 120
      	MsgBox("If equal to 120")
      	'Though to be true, will not be executed'
      	
      Case Else
      	MsgBox("a is not any cases above")
      	
      End Select
      
      
      
      '----------------------------------------------------------'
      'STRING COMPARISON'
      '----------------------------------------------------------'
      Dim myName As String
      myName = "Vu"
      
      Select Case myname
      Case "Nhi", Is = "Nguyen"
      	MsgBox("My name is not Nhi or Nguyen")
      Case "Vu"
      	MsgBox("My name is Vu")
      End Select
    '''
  }
]
isStarred: false
isTrashed: false
