createdAt: "2020-02-29T19:34:19.357Z"
updatedAt: "2020-04-29T23:03:47.724Z"
type: "SNIPPET_NOTE"
folder: "664ddec8ff9fd71c6998"
title: "VBA:  Create an Array"
tags: [
  "vba"
  "create"
  "array"
]
description: "VBA:  Create an Array"
snippets: [
  {
    linesHighlighted: [
      13
    ]
    name: "1D"
    mode: "VB.NET"
    content: '''
      '-------------------------------------------------------------------------------'
      'array with Pre-determined size'
      '-------------------------------------------------------------------------------'
      
      Dim cities(3) as String 'Array type String size 4 (indexing from 0 to 3)'
      
      cities(0) = "Ho Chi Minh"
      cities(1) = "Da Nang"
      cities(2) = "Quy Nhon"
      cities(3) = "Ha Noi"
      
      
      Dim cities(2 To 5) as String 'Array size 4 (indexing from 2, 3, 4, 5)'
      cities(2) = "Ho Chi Minh"
      cities(3) = "Da Nang"
      cities(4) = "Quy Nhon"
      cities(5) = "Ha Noi"
      
      'if we do '
      cities(1) = "Quang Ngai"
      '--> error: subscript out of range'
      
      '-------------------------------------------------------------------------------'
      'With unspecified size: Using Array() function'
      '-------------------------------------------------------------------------------'
      '1/ 'the array has to be Variant type'
      '2/ the array has to be constructed by the Array type
      '3/ as Variant type, the array can store different types
      Dim cities() as Variant 
      cities = Array("Ho Chi Minh", "Da Nang", 3, true)
    '''
  }
  {
    linesHighlighted: []
    name: "2D"
    mode: "VBScript"
    content: '''
      '-------------------------------------------------------------------------------'
      'Create 2D array'
      '-------------------------------------------------------------------------------'
      
      'WAY 1'
      Dim myArray(5, 7) as Currency '6x8 array'
      
      Dim i as Integer, j as Integer
      For i = 0 to 5
        For j = 0 to 7 
          myArray(i, j) = i + j;
        Next j
      Next i
      
      '-------------------------------------------------------------------------------'
      
      'WAY 2:'
      Dim myArray(1 To 5, 1 To 7) as String, x as Integer, y as Integer
    '''
  }
]
isStarred: false
isTrashed: false
