createdAt: "2019-08-28T19:39:55.578Z"
updatedAt: "2020-03-05T23:01:42.655Z"
type: "SNIPPET_NOTE"
folder: "664ddec8ff9fd71c6998"
title: "Snippet note example"
description: '''
  Snippet note example
  You can store a series of snippets as a single note, like Gist.
'''
snippets: [
  {
    name: "example.html"
    mode: "html"
    content: '''
      <html>
      <body>
      <h1 id='hello'>Enjoy Boostnote!</h1>
      </body>
      </html>
    '''
    linesHighlighted: []
  }
  {
    name: "example.js"
    mode: "javascript"
    content: '''
      var boostnote = document.getElementById('enjoy').innerHTML
      
      console.log(boostnote)
    '''
    linesHighlighted: []
  }
]
tags: []
isStarred: false
isTrashed: true
