createdAt: "2020-03-02T04:11:21.208Z"
updatedAt: "2020-03-05T23:23:14.307Z"
type: "SNIPPET_NOTE"
folder: "664ddec8ff9fd71c6998"
title: "VBA: Error - Sub or Function is not defined"
tags: [
  "vba"
  "error"
  "sub"
  "func"
  "not_defined"
]
description: "VBA: Error - Sub or Function is not defined"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "VB.NET"
    content: "' if use MsgBox(), check if it is spelled correctly"
  }
]
isStarred: false
isTrashed: false
