createdAt: "2019-11-22T03:17:18.161Z"
updatedAt: "2019-11-26T18:36:41.500Z"
type: "SNIPPET_NOTE"
folder: "664ddec8ff9fd71c6998"
title: ""
tags: []
description: ""
snippets: [
  {
    name: ""
    mode: null
    content: ""
    linesHighlighted: []
  }
]
isStarred: false
isTrashed: true
