createdAt: "2020-01-04T20:11:21.413Z"
updatedAt: "2020-01-04T20:30:34.132Z"
type: "SNIPPET_NOTE"
folder: "664ddec8ff9fd71c6998"
title: "HTML: common tags"
tags: []
description: "HTML: common tags"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "HTML"
    content: ""
  }
]
isStarred: false
isTrashed: true
