createdAt: "2019-09-24T17:08:56.487Z"
updatedAt: "2019-09-24T17:58:44.043Z"
type: "MARKDOWN_NOTE"
folder: "664ddec8ff9fd71c6998"
title: "legend('line 1', 'line 2', 'location', )"
tags: [
  "MATLAB"
  "legend"
]
content: '''
  legend('line 1', 'line 2', 'location', <location specifier>)
  
  
  'north'=	Inside top of axes
  'south'	= Inside bottom of axes
  'east' = Inside right of axes
  'west' = Inside left of axes
  
  'northeast' =	Inside top-right of axes (default for 2-D axes)
  'northwest' =	Inside top-left of axes
  'southeast' =	Inside bottom-right of axes
  'southwest'	= Inside bottom-left of axes
  
  'northoutside' =	Above the axes
  'southoutside' = Below the axes
  'eastoutside' = To the right of the axes
  'westoutside' =	To the left of the axes
  
  'northeastoutside' =	Outside top-right corner of the axes (default for 3-D axes)
  'northwestoutside' = Outside top-left corner of the axes
  'southeastoutside' = Outside bottom-right corner of the axes
  'southwestoutside' = Outside bottom-left corner of the axes
  
  'best' = Inside axes where least conflict with data in plot
  'bestoutside'	= Outside top-right corner of the axes (when the legend has a vertical orientation) or below the axes (when the legend has a horizontal orientation)
  
  'none' = Determined by Position property. Use the Position property to specify a custom location.
'''
linesHighlighted: []
isStarred: false
isTrashed: false
