createdAt: "2019-09-30T06:12:44.000Z"
updatedAt: "2019-11-05T00:20:37.833Z"
content: ""
folder: "664ddec8ff9fd71c6998"
title: ""
type: "MARKDOWN_NOTE"
tags: []
isStarred: false
isTrashed: true
linesHighlighted: []
