createdAt: "2020-08-11T22:59:33.018Z"
updatedAt: "2020-08-11T22:59:55.116Z"
type: "MARKDOWN_NOTE"
folder: "664ddec8ff9fd71c6998"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
