createdAt: "2019-05-01T00:55:48.000Z"
updatedAt: "2019-11-16T14:59:05.673Z"
content: '''
  C++:  string::find()
  
  // Prototype:
  // size_t find (const string& str, size_t pos = 0);
  // size_t find (const char* s, size_t pos = 0);
  
  // Example:
  
  int pos = "ab_".find("_", 0)
  
  
'''
folder: "664ddec8ff9fd71c6998"
title: "C++  stringfind()"
type: "MARKDOWN_NOTE"
tags: []
isStarred: false
isTrashed: true
linesHighlighted: []
