createdAt: "2020-02-29T20:15:55.314Z"
updatedAt: "2020-03-01T18:34:48.235Z"
type: "SNIPPET_NOTE"
folder: "664ddec8ff9fd71c6998"
title: "VBA: Take user input"
tags: [
  "vba"
  "input"
  "user_input"
]
description: "VBA: Take user input"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "VB.NET"
    content: '''
      Dim userInput as Integer 'Declare input type'
      userInput = InputBox("Input an integer here") 'ask user to input'
      
      'if the user input different type than the declared type, error will happen.'
    '''
  }
]
isStarred: false
isTrashed: false
