createdAt: "2019-10-05T02:20:04.712Z"
updatedAt: "2020-03-21T15:39:52.773Z"
type: "SNIPPET_NOTE"
folder: "664ddec8ff9fd71c6998"
title: "Cpp: size of an array"
tags: [
  "array"
  "cpp"
  "size"
]
description: "Cpp: size of an array"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "C++"
    content: '''
      arr[4] = {1,2,3,4};
      
      sizeof(arr) / sizeof(arr[0]);
      
      // sizeof() returns size in byte
      // sizeof(arr): size (in byte) of the whole array
      // sizeof(arr[0]): size (in byte) of one of the element of the array. In this case it is the first element. 
      
      
    '''
  }
]
isStarred: false
isTrashed: false
