createdAt: "2019-02-18T05:38:30.000Z"
updatedAt: "2019-11-27T19:27:49.621Z"
content: '''
  PYTHON: trig inverse
  
  # python.math
  angle  = math.atan2(y, x);
  
  # python.numpy
  angle = np.arctan2(y, x);
  
'''
folder: "664ddec8ff9fd71c6998"
title: "PYTHON trig inverse"
type: "MARKDOWN_NOTE"
tags: []
isStarred: false
isTrashed: true
linesHighlighted: []
