createdAt: "2020-02-11T04:15:24.595Z"
updatedAt: "2020-02-19T15:57:35.103Z"
type: "SNIPPET_NOTE"
folder: "664ddec8ff9fd71c6998"
title: "JAVA: check if file or directory"
tags: [
  "java"
  "file"
  "directory"
  "check"
]
description: "JAVA: check if file or directory"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "Java"
    content: '''
      File myfile =  new File("sample.data"); 
      
      //true if file, false if directory
      
    '''
  }
]
isStarred: false
isTrashed: false
