createdAt: "2020-04-17T15:07:36.108Z"
updatedAt: "2020-04-17T15:08:18.843Z"
type: "SNIPPET_NOTE"
folder: "664ddec8ff9fd71c6998"
title: ""
tags: []
description: ""
snippets: [
  {
    linesHighlighted: []
    name: ""
    content: "#"
  }
]
isStarred: false
isTrashed: true
