createdAt: "2019-11-22T03:54:23.185Z"
updatedAt: "2019-11-22T03:55:27.320Z"
type: "MARKDOWN_NOTE"
folder: "664ddec8ff9fd71c6998"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
