createdAt: "2019-10-14T00:11:45.122Z"
updatedAt: "2020-03-21T15:38:42.961Z"
type: "SNIPPET_NOTE"
folder: "664ddec8ff9fd71c6998"
title: "Cpp: Create For Loop"
tags: [
  "cpp"
  "loop"
]
description: "Cpp: Create For Loop"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "C++"
    content: '''
      for(int i = 3; i < 100; i =+ 2)
      {
        //code here
      } // counter i is only update at the end of the curly brake.
    '''
  }
]
isStarred: false
isTrashed: false
