createdAt: "2020-02-21T16:40:02.534Z"
updatedAt: "2020-02-21T23:28:25.665Z"
type: "SNIPPET_NOTE"
folder: "664ddec8ff9fd71c6998"
title: "VBA: Find a Substring within a String"
tags: [
  "vba"
  "string"
  "find"
  "substring"
]
description: "VBA: Find a Substring within a String"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "VBScript"
    content: '''
      pos = InStr(start, searched_string, substring, search_mode)
      
      'start: the starting index. Integer. Starts from 1'
      'searched_string': the string within which the substring to be searched 
      'substring': the substring to be searched within the searched_string
      'search mode: 0 - binary comparison (case sensitive)'
      '             1 - textual comparison (case unsensitive)'
      '             2 - Microsoft Access only. Perform a comparison based on information in your database'
      
      
      'Example'
      
      'if <searched_string> an empty string, return 0'
      'if <searched_string> is Null, return Null'
      'If <substring> is empty string, return <start>'
      'If <substring> is Null, return Null'
      'IF <substring> in not found, return 0'
          'If <start> > <substring> --> <substring will not be found, return 0'
      'If <substring> is found within <searched_string>, return integer >= 1. ex: 1, 2, 3, 4, .....'
      
      
      Dim SearchString, SearchChar, MyPos
      SearchString ="XXpXXpXXPXXP"    ' String to search in.
      SearchChar = "P"    ' Search for "P".
      
      ' A textual comparison starting at position 4. Returns 6.
      MyPos = Instr(4, SearchString, SearchChar, 1)    
      
      ' A binary comparison starting at position 1. Returns 9.
      MyPos = Instr(1, SearchString, SearchChar, 0)
      
      ' Comparison is binary by default (last argument is omitted).
      MyPos = Instr(SearchString, SearchChar)    ' Returns 9.
      
      MyPos = Instr(1, SearchString, "W")    ' Returns 0.
      
      'More reading @: 
      '[InStr function (Visual Basic for Applications) \\| Microsoft Docs]
      '(https://docs.microsoft.com/en-us/office/vba/Language/Reference/user-interface-help/instr-function)
    '''
  }
]
isStarred: false
isTrashed: false
